<html lang="es">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link href="{{ url_for('static', filename='css/registration.css') }}" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/alert.css') }}">
  <title>Inicio de sesión</title>
</head>


<body>

{% block alert_box %}
  {% include "includes/alert_box.html" %}
{% endblock %}

{% block content %}
{% endblock %}

<script src="{{ url_for('static', filename='js/alert.js') }}"></script>
</body>
</html>
