{% extends "registration/base.html" %}
{% block content %}
  <section>
    <div class="login-container">
      {% if  subtitle %}
        <h1>{{ subtitle }}</h1>
      {% else %}
        <h1>Flask Blog</h1>
      {% endif %}
      <form method="post" action="">
        {{ form.hidden_tag() }}
        <div class="input-box">
            <span class="icon">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          {{ form.password }}
          {% if form.password.errors %}
            <ul class=errors>
              {% for error in form.password.errors %}
                <li style="color: red">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ form.password.label }}
        </div>
        <div class="input-box">
            <span class="icon">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          {{ form.confirm_password }}
          {% if form.confirm_password.errors %}
            <ul class=errors>
              {% for error in form.confirm_password.errors %}
                <li style="color: red">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ form.confirm_password.label }}
        </div>
        {{ form.submit(class="button") }}
      </form>
    </div>
  </section>
{% endblock %}